<p-panel header="List all products">
  <!--Search (Search panel)-->
  <div class="grid">
    <div class="col-4">
      <button
        pButton
        type="button"
        (click)="showAddModal()"
        icon="fa fa-plus"
        iconPos="left"
        label="Add"
      ></button>
      <button
        pButton
        type="button"
        (click)="showEditModal()"
        *ngIf="selectedItems.length === 1"
        class="ml-1 p-button-help"
        icon="fa fa-minus"
        iconPos="left"
        label="Edit"
      ></button>
    </div>
    <div class="col-8">
      <div class="formgroup-inline">
        <div class="field">
          <label for="txt-keyword" class="p-sr-only">Keyword</label>
          <input id="txt-keyword" pInputText type="text" placeholder="Enter keyword" />
        </div>
        <div class="field">
          <p-dropdown
            [options]="productCategories"
            [(ngModel)]="categoryId"
            placeholder="Select a Category"
          ></p-dropdown>
        </div>
        <button
          type="button"
          pButton
          (click)="loadData()"
          icon="fa fa-search"
          iconPos="left"
          label="Search"
        ></button>
      </div>
    </div>
  </div>

  <!--Table-->
  <p-table
    [(selection)]="selectedItems"
    selectionMode="multiple"
    #pnl
    [value]="items"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Code</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Product Type</th>
        <th>Category</th>
        <th>Order</th>
        <th>Display</th>
        <th>Is Active</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <span class="ui-column-title"></span>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.code }}</td>
        <td>{{ item.sku }}</td>
        <td>{{ item.name }}</td>
        <td>{{ getProductTypeName(item.productType) }}</td>
        <td>{{ item.categoryName }}</td>
        <td>{{ item.sortOrder }}</td>
        <td>
          <p-badge *ngIf="item.visibility === true" severity="success" value="Display"></p-badge>
          <p-badge *ngIf="item.visibility === false" severity="danger" value="Hidden"></p-badge>
        </td>
        <td>
          <p-badge *ngIf="item.isActive === true" severity="success" value="Active"></p-badge>
          <p-badge *ngIf="item.isActive === false" severity="danger" value="Blocked"></p-badge>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">Total records: {{ totalCount | number }}</div>
    </ng-template>
  </p-table>

  <!--Paginator-->
  <p-paginator
    [rows]="maxResultCount"
    [totalRecords]="totalCount"
    (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  ></p-paginator>

  <!--Block UI-->
  <p-blockUI [target]="pnl" [blocked]="blockedPanel">
    <div class="card">
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
      ></p-progressSpinner>
    </div>
  </p-blockUI>
</p-panel>
